@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Open+Sans|Permanent+Marker');

html, body {
width: 100%;
height: 100%;
margin: 0;
}
header {
  display:inline-flex;
  background-color: gray;
  width: 97.6%;
  padding: 0rem 1rem 1rem 1rem;
  height: 3.5rem;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
}

header h1 {
  width: 30%;
  font-family: 'Permanent Marker', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-content: flex-end;

}
ul li{
  display: inline-block;
  padding: 1rem;
  font-size: 120%;
}
ul li a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

hr {
  width: 63.6%;
  margin: 0 auto;
  text-align: center;
}

.landing {
  background: url(img/landing.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 90%;
  width: 100%;
  margin: auto;
  top: 0;
}
h2 {
  font-family: 'Allerta Stencil', sans-serif;
}

.ourStory {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.ourStory p, .ourStory h2 {
  text-indent: 3rem;
}
iframe {
  margin: .5rem;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.23), 6px 6px 6px rgba(0,0,0,0.3);
}
.portion {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

#music {
  margin-top: 4rem;
  background-image: url(img/creek.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 63.6%;
  border-radius: 5px;
}

#tour {
  width: 63.6%;
  background-image: url(img/forest.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#tourDates {
  padding-bottom: 2rem;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;

}

footer ul {
  padding-inline-start: 0;
}
h3 a {
  color: black;
}

footer ul li a {
  font-size: 200%;
  color: black;
}
